.notfd {
    min-height: 96vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfd-cont {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.notfd-title {
    color: green;
    font-size: 10rem;
    margin-block-end: 0;
}

.notfd-description {
    font-size: 4rem;
    text-transform: capitalize;
}
